/* Styling the header element */
head{
    color:rgb(153, 167, 182);
}

/* Styling the body element */
body{
    font-family:Arial,sans-serif;
    text-align:center;
    background:lightblue;
}

/* Styling the weather card */
#weathercard{
    border-top-left-radius:200px;
    margin:500px;
    height:200px;
    width:300px;
    background:white;
    padding:20px;
    border-radius:10px;
    text-align:center;
}

